.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #fff;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    min-width: 1200px;
}

.contact-form {
    flex: 1;
    padding: 20px;
    background-color: white;
    /* border: 1px solid #00C5CD; */
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #00bfa6;
    border-radius: 5px;
    outline: none;
}

.contact-form textarea {
    resize: none;
    height: 100px;
}

.contact-form button {
    background-color: #00bfa6;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form button:hover {
    background-color: #00bfa6;
}

.contact-image {
    flex: 1;
    text-align: center;
}

.contact-image img {
    max-width: 100%;
    height: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        width: 100%;
    }
    .contact-form {
        width: 100%; /* Ensure form takes full width */
    }

    .contact-image {
        margin-top: 20px;
    }
}